@charset "UTF-8";
/* 日本語 */
/*--------------------------------
ページ共通
----------------------------------*/
/*scss set*/
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #333;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

.logo {
  width: 180px;
  height: auto;
  display: block;
}

.header {
  height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

button {
  display: block;
}

#hamburger {
  position: relative;
  width: 50px;
  height: 50px;
}
#hamburger .bar {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 8px;
  width: 70%;
  height: 3px;
  border-radius: 2px;
  background: #333;
}
#hamburger .bar:first-child {
  top: 15px;
}
#hamburger .bar:last-child {
  top: 25px;
}

#hamburger.active .bar {
  background: #fff;
  z-index: 1000;
}
#hamburger.active .bar:first-child {
  top: 18px;
  left: 8px;
  transform: translateY(6px) rotate(-45deg);
}
#hamburger.active .bar:last-child {
  top: 30px;
  left: 9px;
  transform: translateY(-6px) rotate(45deg);
}

#menu {
  line-height: 3.2em;
  position: fixed;
  z-index: 1000;
  transition: all 0.6s;
  top: 20px;
  left: -1000px;
}
#menu .menu--link {
  color: #fff;
}

#menu.active {
  left: 40px;
}

#bgCover.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  padding-top: 70px;
  flex: 1;
  width: 100%;
}

.footer {
  margin-top: 2em;
  width: 100%;
}

.snsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-start;
}
.snsBox--link {
  margin-right: 2.4em;
}

.copyright {
  padding: 2em 0 2em 0;
  font-size: 1rem;
}

/*PC*/
@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
  }
}
/*--------------------------------
TOPページ、Productページ
----------------------------------*/
.gridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.item {
  font-size: 1.2rem;
  display: block;
}
.item__title, .item__price {
  padding-top: 0.6em;
}

.btnMore {
  text-align: center;
  margin: 6em 0 8em 0;
}
.btnMore--link {
  font-size: 1.8rem;
}

.pageTitle {
  font-size: 1.6rem;
  padding: 3em 0 3em 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
}
.pagination li {
  padding: 0.6em 0.8em;
  margin: 0 10px;
}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last {
  display: none;
}
.pagination .pagination-active {
  border: 1px solid #333;
}

/*--------------------------------
itemページ
----------------------------------*/
.itemBox__text {
  margin-top: 1.6em;
}
.itemBox__explanation {
  padding-bottom: 1.6em;
  font-size: 1.4rem;
  line-height: 1.7em;
}
.itemBox__price {
  margin-top: 2em;
  font-size: 1.2rem;
}
.itemBox__detail {
  font-size: 1.2rem;
}
.itemBox__detail dt, .itemBox__detail dd {
  font-weight: normal;
}
.itemBox__detail div:first-child {
  margin-top: 3em;
}
.itemBox__detail div {
  line-height: 1.8em;
}

.btnBack {
  text-align: center;
  margin: 4em 0 6em 0;
}
.btnBack--link {
  font-size: 1.8rem;
}

/*--------------------------------
Aboutページ
----------------------------------*/
.aboutBox__text {
  padding-bottom: 1.6em;
  font-size: 1.4rem;
  line-height: 1.7em;
}

/*--------------------------------
companyページ
----------------------------------*/
.companyBox__inner dt, .companyBox__inner dd {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2em;
}
.companyBox__inner dt {
  padding-top: 2em;
}
.companyBox__inner dd {
  border-bottom: 1px solid #DCDBDB;
  padding-bottom: 2em;
}

.gmap {
  width: 100%;
  height: 400px;
  margin-top: 60px;
  margin-bottom: 120px;
}

/*PC*/
@media screen and (min-width: 900px) {
  .gridBox {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .btnMore {
    margin-top: 4em;
  }
  .header {
    width: 100%;
    position: initial;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .container {
    padding-top: 0;
  }
  .pageTitle {
    padding: 3em 0 4em 0;
  }
  .itemBox__text {
    margin-top: 0;
  }
  .itemArea {
    width: 800px;
  }
  .itemArea__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .itemArea .itemBox__img, .itemArea .itemBox__text {
    width: calc(50% - 32px);
  }
  .btnBack {
    margin: 8em 0 8em 0;
  }
  .aboutBox {
    max-width: 600px;
  }
  .companyBox {
    max-width: 600px;
  }
  .companyBox__inner dt, .companyBox__inner dd {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2em;
  }
  .companyBox__inner dt {
    padding-top: 2em;
  }
  .companyBox__inner dd {
    border-bottom: 1px solid #DCDBDB;
    padding-bottom: 2em;
  }
  .gmap {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=style.css.map */